<%- include('./partials/head') %>

<div class="tile ">
  <div class= "card">
  
    <header>
      
      <h1>Tessa van der Graaf</h1>
      
      <p><em>Frontender</em></p>
      

      
    </header>

    <img src="assets/BWOB.png" alt="" width="auto" height="700">

  

    <p> 0612345678 <br> tessavdg@gmail.com </p>
 
   
  </div>


  </div>
</div>





<script src="scripts/script.js"></script>

<%- include('./partials/foot') %>
